
.card-custom {
    border: 1px solid rgb(0, 0, 0);
    background-color: #e8e8e8;
}
.card-custom .card-title {
    color: #333;
    font-family: 'Quicksand', sans-serif;
}
.card-custom .card-text {
    color: #666;
    font-family: 'Quicksand', sans-serif;
}